
<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <h1>Users</h1>
    <ul> 
      <% user.forEach(function(user){ %>
      <li> <a href="/users/<%= user.dataValues.id %>" ><%=user.dataValues.firstname %></a>
      </li>
        <% }) %>
    </ul>
  </body>
</html>