<!DOCTYPE html>
<html>
<head>
  <title>Login Form</title>
</head>
<body>
  <h1>Login If you Can</h1>
      <form action ="/create" method = "post">
        <p>
          <label for="username">Username: </label>
          <input type = "text" name="username" id="username" autofocus value="<%= username %>">
       </p>
        <p>
          <label for="password">Password: </label>
          <input type = "password" name="password" id="password">
        </p>
        <p>
          <input type ="submit" value="Sign Up!">
        </p>
      </form>



</body>
</html>